/* style page with gradient and center everything */
body {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#614385  ), color-stop(100%,#516395));
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333;
    text-align: center;
    background-attachment: fixed;
    overflow: hidden;

}

/* styling of progress bar */
progress {
    border-radius: 7px; 
    width: 80%;
    height: 15px;
  }
  progress::-webkit-progress-bar {
    background-color: #f2f2f2;
    border-radius: 7px;
  }
  progress::-webkit-progress-value {
    background-color: #84a5ff;
    border-radius: 7px;
  }

/* style input Date & Time */
.inputTime {
    width: auto;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    border: 5px solid #84a5ff;
    border-radius: 5px;
}

/* style submit button */
.button {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.2s;
    width: auto;
    height: auto;
    font-size: 25px;
    font-weight: bold;
    color: white;
    border: 5px solid #84a5ff;
    background-color: #84a5ff;
    border-radius: 15px;
}

/* on button hover change color*/
.button:hover {
    background-color: #f2f2f2;
    color: #84a5ff;
}

/* on button pressed waves*/
.button:active {
    background-color: #f2f2f2;
    color: #84a5ff;
    transform: translateY(4px);
}


/* style menu*/
.menu {
    background-color: rgba(255, 255, 255, 1);
    /* postion top right corner */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    width: 0%;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0px;
    overflow: hidden;
}

/* style open top right corner */
.openMenu {
    cursor: pointer;
    position: absolute;
    visibility: visible;
    top: 3rem;
    left: 3%;
    font-size: 40px;
    color: #84a5ff;
    background: none;
    border: none;
}
.closeMenu {
    cursor: pointer;
    position: absolute;
    visibility: hidden;
    top: 3rem;
    left: 3%;
    font-size: 40px;
    color: #84a5ff;
    background: none;
    border: none;
}




/* style endDate */
.endDate {
    margin-right: 10px;
    margin-left: 20px;
    font-size: 5rem;
    font-weight: bold;
    color: white;
}

/* style Hours and Minutes remaining */
.minutesHours {
    margin-right: 10px;
    margin-left: 20px;
    font-size: 2em;
    font-weight: bold;
    color: white;
    transition: 0.5s;
}

/* style countdown */
.countdown {
    margin-right: 10px;
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.menuContent {
    display: flexbox;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (min-width: 1180px) {
.menuContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
}

/* if device is mobile */
@media screen and (max-width: 1180px) {
    .menuContent {
        height: 40%;
    }
    .button {
        width: 90%;
        height: auto;
        font-size: 80px;
        padding-left: 50px;
        padding-right: 50px;
        font-weight: bold;
        margin: 5px;
        color: white;
        border: 5px solid #84a5ff;
        background-color: #84a5ff;
        border-radius: 15px;
    }
    .inputTime {
        width: 90%;
        height: auto;
        font-size: 65px;
        font-weight: bold;
        color: #333;
        border: 10px solid #84a5ff;
        border-radius: 5px;
    }
    .countdown {
        font-size: 4em;
    }


    /* increase size*/
    .openMenu {
        font-size: 80px;
    }

    .closeMenu {
        font-size: 80px;
    }

    /* increase thickness progress bar*/
    progress {
        height: 30px;
    }
}